{% extends "base.html" %}
{% block title %}Coverage{% endblock %}
{% block info %}{% endblock %}
{% block main %}
<table>
    {% for areas in [best_areas, okay_areas, empty_areas] %}
        <tr>
            <th>Country</th>
            <th>ISO</th>
            <th>Land Area Covered</th>
            <th>Population in Land Area</th>
            <th>Addresses per 1,000 People</th>
        </tr>
        {% for area in areas %}
            <tr>
                <td>{{ area.iso_a2|nice_flag|safe }} {{ area.name }}</td>
                <td>{{ area.iso_a2 }}</td>
                <td>
                    {{ area.area_pct|nice_percentage }}
                    <small>({{ area.area_total|nice_big_number }} km²)</small>
                </td>
                <td>
                    {{ area.pop_pct|nice_percentage }}
                    <small>({{ area.pop_total|nice_big_number }} people)</small>
                </td>
                <td>
                    {% if area.cpp_avg %}
                    {{ (1000 * area.cpp_avg)|nice_integer }}
                    <small>±{{ (1000 * area.cpp_stddev)|nice_integer }}</small>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</tabl>
{% endblock main %}
